@import url("https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap");
body {
  background: url("../images/pic7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Price range start */
.input-range__slider {
  background-color: #10caca !important;
  border: 1px solid #10caca !important;
}

.input-range__track--active {
  background: #10caca !important;
}

.input-range__label-container {
  color: white !important;
}
/* Price range end */

/* Amenities start */
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.amenitiesName {
  color: white;
}

/* Amenities end */

#viewHotels {
  margin-top: 90px;
}
